numpy
pandas 
scipy
xarray
#tiled[client]
netcdf4
jupyterlab
ipywidgets
ipympl
labjack-ljm
nodejs
matplotlib
seaborn
pint
periodictable
flask
flask-jwt-extended >=4.0
bokeh
pillow
pi-plates
scikit-image
pyserial
requests
flask_cors
#pyFAI
#certif-pyspec==1.1.12

